body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: black;
  background-color: #f2f2f2;
  min-width: 1200px;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: black;
}

h2 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: black;
}

h3 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: black;
}
h4 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 30px;
  line-height: 24px;
  color: black;
}
h5 {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: black;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

body > .container {
  box-shadow: 0 0 15px 0px #d3d3d3;
}

/*Главная*/
.main-header {
  background-color: white;
  position: relative;
}

.navigation-menu {
  margin: 0;
  padding: 0;
}

.navigation-menu-item {
  float: left;
  width: 20%;
  background-color: white;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  list-style: none;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 16px;
}

.navigation-menu-item:nth-child(2) {
  margin-right: 20%;
}

.navigation-menu a {
  text-decoration: none;
  color: black;
}

.navigation-menu-item:nth-child(1) a {
  margin-left: -3px;
}

.navigation-menu-item:nth-child(2) a {
  margin-left: 2px;
}

.navigation-menu-item:nth-child(4) a {
  margin-right: -17px;
}

.navigation-menu a:hover {
  text-decoration: none;
  color: #81b3d2;
}

.navigation-menu a:active {
  text-decoration: none;
  color: #b2b2b2;
}

.navigation-menu-item-active a {
  color: #766357;
}

.navigation-menu-item-active a:hover {
  color: #604e43;
}

.navigation-menu-item-active a:active {
  color: #d6d0cc;
}

.logo {
  position: absolute;
  left: 531px;
  z-index: 2;
}

.big-image {
  min-height: 508px;
  background-image: url(../img/main-photo.jpg);
  background-color: #e4f1fa;
  background-position: 0px -56px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  padding-top: 76px;
  box-sizing: border-box;
}

.big-image::after {
  content: "";
  width: 100%;
  height: 57px;
  display: block;
  background-image: url(../img/mask.png);
  position: absolute;
  bottom: 0px;
}

.big-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sedona-img {
  margin-top: 52px;
}

.canyon-img {
  margin-top: 56px;
}

.sedona-introduction {
  text-align: center;
  background-color: white;
  padding-top: 46px;
  padding-bottom: 37px;
}

.sedona-introduction h1 {
  margin-left: auto;
  margin-right: auto;
  width: 445px;
}

.sedona-introduction p {
  font-size: 14px;
  line-height: 26px;
  color: #333333;
  margin-top: 27px;
}

.feature h3 {
  width: 155px;
  margin: auto;
}

.feature p {
  width: 302px;
  margin: auto;
  margin-top: 21px;
}

.feature span {
  display: inline-block;
  margin: auto;
  margin-top: 24px;
}

.feature-img-block {
  color: white;
}

.feature-img-block h3 {
  color: white;
}

.feature-blue-1 {
  background-color: #81b3d2;
  width: 400px;
  height: 256px;
  float: left;
  text-align: center;
}

.feature-blue-2 {
  background-color: #81b3d2;
  width: 400px;
  height: 255px;
  padding-top: 1px;
  float: right;
  text-align: center;
}

.feature-blue h3 {
  margin-top: 54px;
  width: 151px;
}

.feature-img-1 {
  width: 800px;
  height: 256px;
  float: right;
  background-image: url(../img/feature-image-1.jpg);
}

.feature-img-2 {
  width: 800px;
  height: 256px;
  float: left;
  background-image: url(../img/feature-image-2.jpg);
}

.features-icon-block {
  min-height: 330px;
  font-size: 0px;
  background-color: white;
}

.features-icon-block p {
  color: #333333;
}

.feature-icon {
  width: 400px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
}

.icon-house {
  margin-top: 60px;
}

.icon-food {
  margin-top: 61px;
}

.icon-gift {
  margin-top: 57px;
}

.feature-icon-house h3 {
  margin-top: 23px;
}

.feature-icon-food h3 {
  margin-top: 24px;
}

.feature-icon-gift h3 {
  margin-top: 22px;
}

.feature-icon p {
  width: 285px;
  margin: auto;
  margin-top: 24px;
}

.features-second-block {
  min-height: 256px;
  font-size: 0px;
  background-color: #eeeeee;
}

.features-second-block p {
  width: 265px;
}

.feature-item {
  height: 256px;
  width: 400px;
  display: inline-block;
  font-size: 14px;
  text-align: center;
}

.feature-item h3 {
  margin-top: 47px;
}

.feature-item p,
.feature-item span {
  color: #333333;
}

.booking {
  min-height: 291px;
  text-align: center;
  background-color: white;
  position: relative;
  padding-top: 28px;
  box-sizing: border-box;
}

.booking-title h2 {
  margin-bottom: 27px;
}

.booking-title p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  color: #333333;
}

.booking-button {
  position: absolute;
  bottom: 0px;
  left: 316px;
}

.booking-button a {
  display: inline-block;
  background-color: #766357;
  color: #ffffff;
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  padding: 30px 139px;
  padding-right: 140px;
  box-sizing: border-box;
}

.booking-button a:hover {
  background-color: #604e43;
}

.booking-button a:active {
  background-color: #503e33;
  color: #7b6d65;
}

.form-window {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  background-color: white;
  padding: 55px;
  position: absolute;
  left: 316px;
  bottom: -395px;
  z-index: 4;
  box-shadow:
  5px 5px 15px -5px #d3d3d3,
  -5px 5px 15px -5px #d3d3d3;
  display: none;
  box-sizing: border-box;
}

.form-window-show {
  display: block;
  animation: bounce 0.6s;
}

.input-container input {
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  position: relative;
}

.input-container input:hover{
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.input-container input:focus{
  background-color: white;
  border: 2px solid #e5e5e5;
}

.date-in {
  margin-bottom: 29px;
}

.date-in label {
  margin-right: 20px;
  display: inline-block;
}

.date {
  position: relative;
}

.calendar-icon {
  display: block;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(-50%, -50%);
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 21px;
  height: 22px;
  background-position: -10px -10px;
  cursor: pointer;
}

.calendar-icon:hover {
  width: 21px;
  height: 22px;
  background-position: -92px -10px;
}

.calendar-icon:active {
  width: 21px;
  height: 22px;
  background-position: -51px -10px;
}

.date input {
  width: 346px;
  height: 38px;
  display: inline-block;
  padding-left: 12px;
  padding-right: 39px;
  box-sizing: border-box;
}

.date-out {
  margin-bottom: 30px;
}

.date-out label {
  margin-right: 16px;
  display: inline-block;
}

.adults-quantity {
  display: inline-block;
  margin-bottom: 54px;
}

.adults-quantity label {
  margin-right: 37px;
  display: inline-block;
}

.quantity input {
  width: 38px;
  height: 38px;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}

.button {
  display: inline-block;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  color: #f2f2f2;
  cursor: pointer;
}

.button-minus {
  margin-right: -4px;
  position: relative;
  vertical-align: top;
}

.button-minus::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(-50%, -50%);
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 12px;
  height: 3px;
  background-position: -680px -10px;
}

.button-minus:hover::after {
  width: 12px;
  height: 3px;
  background-position: -744px -10px;
}

.button-minus:active::after {
  width: 12px;
  height: 3px;
  background-position: -712px -10px;
}

.button-plus {
  margin-left: -4px;
  position: relative;
  vertical-align: top;
}

.button-plus::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(-50%, -50%);
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 11px;
  height: 11px;
  background-position: -776px -10px;
}

.button-plus:hover::after {
  width: 11px;
  height: 11px;
  background-position: -838px -10px;
}

.button-plus:active::after {
  width: 11px;
  height: 11px;
  background-position: -807px -10px;
}

.kids-quantity {
  display: inline-block;
}

.kids-quantity label {
  margin-right: 22px;
  margin-left: 52px;
  display: inline-block;
}

.form-button input {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  width: 458px;
  height: 58px;
  color: white;
  font-family: "PT Sans", Arial, sans-serif;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.form-button input:hover {
  background-color: #669ec0;
}

.form-button input:active {
  background-color: #5496bd;
  color: #88b6d1;
}

.main-footer {
  position: relative;
}

.map::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 120px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.map {
  min-height: 593px;
  background-image: url(../img/map.jpg);
  background-color: #f2f1ef;
}

.footer-item-container {
  position: absolute;
  bottom: 0px;
  z-index: 4;
}

.footer-item {
  width: 400px;
  height: 120px;
}

.footer-hashtag {
  float: left;
  font-size: 21px;
  font-weight: bold;
}

.footer-hashtag span {
  display: block;
  margin: auto;
  margin-top: 48px;
  width: 135px;
  cursor: pointer;
}

.footer-social {
  float: left;
  font-size: 0px;
  padding-left: 124px;
  box-sizing: border-box;
}

.social-btn {
  display: inline-block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
  margin-right: 6px;
  position: relative;
  margin-top: 36px;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
}

.social-btn-tw::before {
  width: 17px;
  height: 15px;
  background-position: -949px -10px;
}

.social-btn-tw:active::before {
  width: 17px;
  height: 15px;
  background-position: -986px -10px;
}

.social-btn-fb::before {
  width: 10px;
  height: 23px;
  background-position: -221px -10px;
}

.social-btn-fb:active::before {
  width: 10px;
  height: 23px;
  background-position: -251px -10px;
}

.social-btn-yt::before {
  width: 20px;
  height: 16px;
  background-position: -1023px -10px;
}

.social-btn-yt:active::before {
  width: 20px;
  height: 16px;
  background-position: -1063px -10px;
}

.footer-copyright {
  float: right;
  text-align: center;
}

.footer-copyright p {
  margin-top: 41px;
  line-height: 26px;
}

.footer-copyright a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 4px;
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  width: 113px;
  height: 39px;
  background-position: -281px -10px;
}

.footer-copyright a:hover {
  background-position: -547px -10px;
}

.footer-copyright a:active {
  background-position: -414px -10px;
}

/*Отели*/
.form-container {
  background-image: url(../img/filter-background.jpg);
  background-position: 0% 16%;
  background-color: #85a0be;
  background-repeat: no-repeat;
  padding-top: 27px;
  padding-bottom: 17px;
  box-sizing: border-box;
}

.form-container h2 {
  font-size: 16px;
  line-height: 21px;
  color: white;
  margin-top: 0px;
}

.central-container {
  width: 1056px;
  margin: auto;
}

.form-block {
  width: 25%;
}

.form-block ul {
  padding: 0;
}

.form-block li {
  margin-top: 25px;
}

.form-block input[type="checkbox"] {
  display: none;
}

.form-block input[type="checkbox"] + label {
  display: block;
  line-height: 21px;
  padding-left: 42px;
  position: relative;
  cursor: pointer;
  color: white;
}

.form-block-left input[type="checkbox"] + label {
  padding-left: 39px;
}

.form-block input[type="checkbox"] + label::before {
  content: "\2610";
  font-family: "symbols-sedona";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  font-size: 26px;
}

.form-block input[type="checkbox"]:checked + label::before {
  content: "\2611";
}

.form li {
  display: block;
}

.form-block-left {
  float: left;
}

.form-block-central {
  float: left;
  margin-left: -9px;
}

.form-block-right {
  float: right;
}

.filter-range {
  width: 317px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  margin-left: -10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 30px;
  margin-bottom: 20px;
  font-size: 0;
  margin-top: 10px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  padding-bottom: 3px;
  padding-left: 64px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls label:nth-child(2) {
  margin-left: 57px;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-top: 5px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  line-height: 21px;
  box-sizing: border-box;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 1px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  font-family: "PT Sans", Arial, sans-serif;
  display: block;
  margin: 0 27%;
  padding: 5px 33px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.form-results {
  background-color: #fefefe;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 16px;
}

.form-results h1 {
  margin-top: 30px;
}

.form-results-sort {
  margin-left: 44px;
  margin-right: -3px;
}

.form-results-ul {
  display: inline-block;
}

.ul-item {
  margin-right: 30px;
  display: inline-block;
}

.ul-item a {
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
  color: rgba(0, 0, 0, 0.3);
}

.ul-item-chosen a {
  color: #81b3d2;
  border: none;
}

.ul-item-regular a:hover {
  color: #81b3d2;
}

.ul-item-regular a:active {
  color: black;
  border: none;
}

.form-results-found {
  display: inline-block;
}

.form-results-sort {
  display: inline-block;
}

.arrows {
  font-size: 23px;
  float: right;
  margin-top: 32px;
}

.arrow-up {
  color: #cccccc;
  display: inline-block;
}

.arrow-up:hover {
  color: black;
}

.arrow-up:active {
  color: #81b3d2;
}

.arrow-down {
  color: #81b3d2;
  display: inline-block;
  margin-right: -10px;
  margin-left: -15px;
}

.hotel-list-item {
  background-color: #fefefe;
  padding-top: 30px;
  padding-bottom: 30px;
  box-sizing: border-box;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-list-item:nth-child(1) {
  border-top: 1px solid #e5e5e5;
}

.hotel-list-item-img {
  width: 135px;
  height: 90px;
  float: left;
}

.hotel-list-item-info {
  float: left;
  margin-left: 30px;
  width: 270px;
}

.hotel-list-item-info h3 {
  line-height: 26px;
  margin-top: -5px;
}

h3 a {
  text-decoration: none;
  color: black;
}

h3 a:hover {
  color: #81b3d2;
}

h3 a:active {
  color: #b2b2b2;
}

.hotel-list-item-cost {
  display: inline-block;
  float: left;
  margin-top: -14px;
  color: #333333;
}

.house-type {
  display: inline-block;
  width: 110px;
  margin-right: 2px;
}

.hotel-list-item-buttons {
  display: inline-block;
  float: left;
  margin-top: 14px;
}

.blue-button {
  display: inline-block;
  padding-top: 3px;
  width: 110px;
  height: 27px;
  color: white;
  background-color: #81b3d2;
  text-align: center;
  font-weight: bold;
  line-height: 21px;
  text-decoration: none;
  margin-right: 3px;
  box-sizing: border-box;
}

.blue-button:hover {
  background-color: #669ec0;
}

.blue-button:active {
  color: #88b6d1;
  background-color: #5496bd;
}

.brown-button {
  display: inline-block;
  padding-top: 3px;
  width: 142px;
  height: 27px;
  color: white;
  background-color: #766357;
  text-align: center;
  font-weight: bold;
  line-height: 21px;
  text-decoration: none;
  box-sizing: border-box;
}

.brown-button:hover {
  background-color: #604e43;
}

.brown-button:active {
  color: #81746d;
  background-color: #503e33;
}

.hotel-list-item-rating {
  float: right;
}

.rating-stars {
  text-align: right;
  color: #81b3d2;
  font-size: 19px;
  margin-top: -3px;
  margin-right: -5px;
}

.icon-star {
  margin-left: -8px;
}

.rating-numbers {
  display: inline-block;
  width: 110px;
  height: 27px;
  color: #666666;
  background-color: #f2f2f2;
  text-align: center;
  line-height: 21px;
  margin-top: 45px;
  margin-right: 1px;
  padding-top: 3px;
  padding-left: 5px;
  box-sizing: border-box;
}

.secondary-footer {
  background-color: #fefefe;
}

/*Спрайт*/

.sprite-calendar {
  width: 21px;
  height: 22px;
  background-position: -10px -10px;
}

.sprite-calendar-down {
  width: 21px;
  height: 22px;
  background-position: -51px -10px;
}

.sprite-calendar-hvr {
  width: 21px;
  height: 22px;
  background-position: -92px -10px;
}

.sprite-checkbox {
  width: 22px;
  height: 22px;
  background-position: -133px -10px;
}

.sprite-checkbox-active {
  width: 26px;
  height: 22px;
  background-position: -175px -10px;
}

.sprite-fb {
  width: 10px;
  height: 19px;
  background-position: -221px -10px;
}

.sprite-fb-hvr {
  width: 10px;
  height: 19px;
  background-position: -251px -10px;
}

.sprite-html-academy {
  width: 113px;
  height: 39px;
  background-position: -281px -10px;
}

.sprite-html-academy-down {
  width: 113px;
  height: 39px;
  background-position: -414px -10px;
}

.sprite-html-academy-hvr {
  width: 113px;
  height: 39px;
  background-position: -547px -10px;
}

.sprite-minus {
  width: 12px;
  height: 3px;
  background-position: -680px -10px;
}

.sprite-minus-down {
  width: 12px;
  height: 3px;
  background-position: -712px -10px;
}

.sprite-minus-hvr {
  width: 12px;
  height: 3px;
  background-position: -744px -10px;
}

.sprite-plus {
  width: 11px;
  height: 11px;
  background-position: -776px -10px;
}

.sprite-plus-down {
  width: 11px;
  height: 11px;
  background-position: -807px -10px;
}

.sprite-plus-hvr {
  width: 11px;
  height: 11px;
  background-position: -838px -10px;
}

.sprite-slide {
  width: 20px;
  height: 23px;
  background-position: -869px -10px;
}

.sprite-slide-hvr {
  width: 20px;
  height: 23px;
  background-position: -909px -10px;
}

.sprite-tw {
  width: 17px;
  height: 15px;
  background-position: -949px -10px;
}

.sprite-tw-hvr {
  width: 17px;
  height: 15px;
  background-position: -986px -10px;
}

.sprite-yt {
  width: 20px;
  height: 16px;
  background-position: -1023px -10px;
}

.sprite-yt-hvr {
  width: 20px;
  height: 16px;
  background-position: -1063px -10px;
}

/*Иконочный шрифт*/

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */

/*Анимация*/
@keyframes bounce {
  0%   { transform: translateX(-2000px); }
  70%  { transform: translateX(30px);    }
  90%  { transform: translateX(-10px);   }
  100% { transform: translateX(0px);     }
}
