.body {
  font-family: PTSans Bold, Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: black;
  background: f2f2f2;
  min-width: 1200px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.sedona-introduction-container h1 {
  font-family: PTSans Bold, Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: black;
}
h2 {
  font-family: PTSans Bold, Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: black;
}
h3 {
  font-family: PTSans Bold, Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  color: black;
}
h4 {
  font-family: PTSans Bold, Arial, sans-serif;
  font-size: 30px;
  line-height: 24px;
  color: black;
}
h5 {
  font-family: PTSans Bold, Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  color: black;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  outline: 1px solid green;

}

/*Главная*/
.main-header {
  outline: 1px solid red;
}

.navigation-menu-item {
  width: 240px;
  height: 56px;
  background-color: white;
  font-family: PTSans Bold, Myriad Pro, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  list-style: none;
}

.navigation-menu-information {
  float: left;
}

.navigation-menu-photo {
  float: left;
}

.navigation-menu-hotels {
  float: right;
}

.navigation-menu-map {
  float: right;
}

.logo {
  display: inline-block;
}

.big-image {
  min-height: 508px;
  outline: 1px solid blue;
}

.sedona-introduction {
  min-height: 216px;
  outline: 1px solid yellow;
  display: inline-block;
  text-align: center;
}

.feature-img-block {
  min-height: 256px;
  outline: 1px solid red;
}

.feature-blue-1 {
  background-color: 81b3d2;
  width: 400px;
  height: 256px;
  float: left;
  display: inline-block;
  text-align: center;
}

.feature-blue-2 {
  background-color: 81b3d2;
  width: 400px;
  height: 256px;
  float: right;
  display: inline-block;
  text-align: center;
}

.feature-img-1 {
  width: 800px;
  height: 256px;
  float: right;
}

.feature-img-2 {
  width: 800px;
  height: 256px;
  float: left;
}

.features-icon-block {
  min-height: 330px;
  font-size: 0px;
  outline: 1px solid blue;
}

.feature-icon {
  height: 330px;
  width: 400px;
  display: inline-block;
  font-size: 14px;
  outline: 1px solid blue;
  text-align: center;
}

.features-second-block {
  min-height: 256px;
  font-size: 0px;
  outline: 1px solid blue;
}

.feature-item {
  height: 256px;
  width: 400px;
  display: inline-block;
  font-size: 14px;
  outline: 1px solid blue;
  text-align: center;
}

.booking {
  min-height: 291px;
  outline: 1px solid red;
  display: inline-block;
  text-align: center;
}

.booking-button {
  width: 568px;
  height: 86px;
  background-color: 766357;
  color: ffffff;
  margin: auto;
}

.form-window {
  width: 568px;
  height: 395px;
  outline: 1px solid yellow;
  margin: auto;
}

.form-button {
  width: 458px;
  min-height: 58px;
  background-color: 81b3d2;
  color: ffffff;
}

.map {
  min-height: 473px;
  outline: 1px solid red;
}

.main-footer {
  min-height: 120px;
}

.footer-item {
  width: 400px;
  height: 120px;
  outline: 1px solid blue;
}

.footer-hashtag {
  float: left;
}

.footer-social {
  float: left;
}

.footer-copyright {
  float: right;
}

/*Отели*/
.form-container {
  min-height: 217px;
  outline: 1px solid blue;
}

.central-container {
  width: 1056px;
  margin: auto;
  outline: 1px solid yellow;
}

.form-block {
  width: 25%;
  outline: 1px solid red;
}

.form li {
  display: block;
}

.form-block-left {
  float: left;
}

.form-block-central {
  float: left;
}

.form-block-right {
  float: right;
}

.form-results {
  min-height: 87px;
  outline: 1px solid blue;
}

.form-results-ul {
  display: inline-block;
}

.form-results-found {
  display: inline-block;
}

.form-results-sort {
  display: inline-block;
}

.ul-item {
  display: inline-block;
}

.arrows {
  width: 35px;
  min-height: 10px;
  float: right;
}

.hotel-list-item {
  min-height: 150px;
  outline: 1px solid blue;
}

.hotel-list-item-img {
  display: inline-block;
  width: 135px;
  height: 90px;
  float: left;
}

.hotel-list-item-info {
  float: left;
  margin-left: 30px;
  width: 270px;
}

.hotel-list-item-cost {
  display: inline-block;
  float: left;
}

.hotel-list-item-buttons {
  display: inline-block;
  float: left;
}

.blue-button {
  display: inline-block;
  width: 110px;
  height: 27px;
  margin-right: 6px;
}

.brown-button {
  display: inline-block;
  width: 142px;
  height: 27px;
}

.hotel-list-item-rating {
  float: right;
}
